<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="../static/css/budget.css" th:href="@{/css/budget.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <div th:text="${dateToDisplay}">Dummy Date</div>
    <div>
        <button class="btn" id="backButton" th:onclick="|window.location.href='/api/v1/budget/1?month='+${currentMonth-1}|">Back</button>
        <button class="btn" id="nextButton" th:onclick="|window.location.href='/api/v1/budget/1?month='+${currentMonth+1}|">Next</button>
    </div>
</div>
<div class="p-4">
    <div><button type="button" class="btn mb-2"  th:onclick="|window.location.href='/api/v1/budget/add'|">Add Budget</button></div>
    <div class="row">
        <div class="col-4" th:each="budget : ${budgetList}">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title" th:text="${budget.walletName}">Dummy Title</h5>
                    <p>Limit: $<span th:text="${budget.budgetLimit}">Dummy Limit</span></p>
                    <p>Total Expenses: $<span th:text="${budget.totalExpenses}">Dummy Expenses</span></p>
                    <a th:href="@{'/api/v1/budget/budgetId/' + ${budget.budgetId}}" class="btn">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../js/budget.js"></script>

</body>
</html>