<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Expensify</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <!--  START - links import required for the sidebar  -->
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--  END  -->
    <script th:src="@{/js/notify.min.js}"></script>
</head>
<body>
<script th:inline="javascript">
    var localExpenseData = [[${expenseData}]];
</script>
<header th:insert="fragments/sidebar"></header>
<div class="home_content" id="container">
    <!--    <div class="menu-navi-container" id="monthDisplay">-->
    <!--			<span id="menu-navi">-->
    <!--				<button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>-->
    <!--			</span>-->

    <!--        <span class="range-container" id="range-container">-->
    <!--				<button id="backButton" type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">-->
    <!--					<i class="fa fa-angle-left" data-action="move-prev"></i>-->
    <!--				</button>-->
    <!--				<span id="renderRange" class="render-range"></span>-->
    <!--				<button id="nextButton" type="button" class="btn btn-default btn-sm move-day" data-action="move-next">-->
    <!--					<i class="fa fa-angle-right" data-action="move-next"></i>-->
    <!--				</button>-->
    <!--			</span>-->
    <!--    </div>-->
    <div id="header">
        <div id="monthDisplay"></div>
        <div>
            <button id="backButton">Back</button>
            <button id="nextButton">Next</button>
        </div>
    </div>
    <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
    </div>


    <div id="calendar"></div>

</div>
<div id="newEventModal">
    <form th:action="@{/add-expense}" th:object="${expense}" method="POST">
        <div id="modelHeader">
            <h2>Expense</h2>
            <span class="closeButton" style="margin-left: 65%;"><i style="color: gray;"
                                                                   class="fa fa-close fa-lg"></i></span>
        </div>

        <input type="text" id="expenseTitleInput" name="expenseTitle" th:field="*{expenseTitle}" placeholder="Title"
               required/>

        <select name="expenseCategoryInput" id="expenseCategoryInput" th:field="*{expenseCategory}">
            <option th:each="category : ${expenseCategoriesList}" th:value="${category.categoryID}"
                    th:text="${category.categoryName}"></option>
        </select>

        <select name="expenseWalletInput" id="expenseWalletInput" th:field="*{walletId}" required>
            <option th:each="wallet : ${walletList}" th:value="${wallet.walletId}"
                    th:text="${wallet.walletLabel}"></option>
        </select>
        <input id="expenseAccountNameInput" type="number" step="0.01" th:field="*{amount}" placeholder="Amount" min="1" value="1" required/>
        <textarea id="expenseNoteInput" th:field="*{description}" placeholder="Note"></textarea>
        <input type="hidden" th:field="*{expenseID}"/>
        <input type="hidden" th:field="*{userID}"/>
        <input id="expenseDate" type="hidden" th:value="*{expenseDate}" name="expenseDate" value="getTodaysDate()"/>
        <button id="saveButton" type="submit">Save</button>
    </form>
</div>

<div id="deleteEventModal">
    <div style="display: flex;">
        <h2>Expense</h2>
        <span class="closeButton" style="margin-left: 65%;"><i style="color: gray;" class="fa fa-close fa-lg"></i></span>
    </div>
    <div id="eventModal">
    </div>
</div>

<div id="modalBackDrop"></div>
<script th:src="@{/js/expenses.js}" defer></script>

<script>
    let nav_btn = document.getElementById("nav-btn");
    let sidebar = document.getElementById("sidebar");

    nav_btn.onclick = function () {
        sidebar.classList.toggle("active");
    };
</script>
</body>

</html>