<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <title>Wallet Details</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--  START - links import required for the sidebar  -->
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--  END  -->

</head>
<style>

    #hideMe {
        -webkit-animation: cssAnimation 5s forwards;
        animation: cssAnimation 5s forwards;
        position: absolute;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    @keyframes cssAnimation {
        100% {visibility: hidden;}
    }
    @-webkit-keyframes cssAnimation {
        100% {visibility: hidden;}
    }
    .heading{
        margin:15px auto;
        text-align: center;
    }
    .heading span{
        font-size: 35px;
        font-weight: 600;
    }
    .container{
        position: absolute;
        left : 20%
    }
    .btn {
        width: 110px;
        cursor: pointer;
        box-shadow: 0px 0px 2px gray;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        color: white;
        background-color: #6f95aa;
    }
</style>
<body>
<header th:insert="fragments/sidebar"></header>
<div class="container">
    <div class="heading">
        <span th:text="'User Wallets'"></span>
    </div>
    <div class = "alert alert-success" id ="hideMe" role = "alert" th:text = "${SUCCESS}" th:if = "${SUCCESS}"></div>

    <div class="p-4">
        <div><button type="button" class="btn"  data-toggle="modal" data-target="#addWalletModal" >Add Wallet</button></div>

        <div class="row">
            <div class="col-4" th:each="wallet : ${wallet_list}">
                <div class="card" >
                    <div class="card-body">
                        <p>Wallet <span th:text="${wallet.walletLabel}">Dummy Expenses</span></p>
                        <p>Payment Type: <span th:text="${wallet.paymentType}">Dummy Expenses</span></p>
                        <p>Amount: $<span th:text="${wallet.amount}">Dummy Expenses</span></p>
                        <a th:href="@{/wallet/walletId/{walletId}(walletId = ${wallet.walletId})}" class="btn">Delete</a>
                        <button  class="btn"  data-toggle="modal" th:data-wallet="${wallet}" th:attr="data-target=${'#editWalletModal' + wallet.walletId}" >Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addWalletModal" tabindex="-1" role="dialog" aria-labelledby="addWalletModal" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addWalletModalLabel">Add Wallet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" method="POST" th:action="@{/wallet}" th:object="${wallet}">
                        <div class="form-group">
                            <label for="PaymentCategories">Payment Categories:</label>
                            <select class="form-control" id ="PaymentCategories" th:field="*{paymentType}">
                                <option value="0" selected="true" disabled="disabled">Select Option</option>
                                <option th:each="category:${payment_categories}" th:value="${category.paymentId}" th:text="${category.paymentCategory}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="walletLabel">Wallet Label</label>
                            <input class="form-control" type="text" th:field="*{walletLabel}" id="walletLabel" placeholder="walletLabel" th:required="required">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('walletLabel')}" th:errors="*{walletLabel}"></div>
                        </div>
                        <div class="form-group">
                            <label for="Amount">Amount</label>
                            <input class="form-control" type="number" th:min="0" th:field="*{amount}" id="Amount" placeholder="Amount" th:required="required" >
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('Amount')}" th:errors="*{amount}"></div>
                        </div>

                        <button class="btn" type="submit">ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:each="wallet : ${wallet_list}" th:attr="id=${'editWalletModal' + wallet.walletId}" class="modal fade"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editWalletModalLabel">Edit Wallet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  method="POST" th:action="@{/updatewallet}" th:object="${wallet}" >


                        <input hidden type="number" th:value="${wallet.walletId}" name="walletId"/>
                        <input hidden type="number" th:value="${wallet.userId}" name="userId"/>
                        <div class="form-group">
                            <label for="walletLabelEdit">Wallet Label</label>
                            <input id="walletLabelEdit" type="text" th:value="${wallet.walletLabel}" name="walletLabel" class="form-control" th:required="required"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('walletLabel')}" th:errors="*{walletLabel}"></div>
                        </div>
                        <div class="form-group">
                            <label for="walletAmount">Wallet Amount</label>
                            <input id="walletAmount" type="number"  th:min="0" th:value="${wallet.amount}" name="amount" class="form-control" th:required="required" />
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                        </div>
                        <button type="submit" class="btn" >Update</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
